<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <% let progresses = ['','未定','作業予定','作業中','作業終了'] %>
</head>
<body>
    <a href="/list"><p>戻る</p></a>
    <h1>本当に削除しますか</h1>
    <table>
        <tr>
            <td>ID</td>
            <td><%= contents[0].id %></td>
        </tr>
        <tr><td>日付</td>
            <td>
            <%= contents[0].date.getFullYear() +'-'+ ((contents[0].date.getMonth()<10) ? '0'+contents[0].date.getMonth() : contents[0].date.getMonth()) +'-'+ ((contents[0].date.getDate()<10) ? '0'+contents[0].date.getDate() : contents[0].date.getDate()) %>
            </td>
        </tr>
        <tr>
            <td>場所</td>
            <td><%= contents[0].place %></td>
        </tr>
        <tr>
            <td>仕事内容</td>
            <td><%= contents[0].work %></td>
        </tr>
        <tr>
            <td>カテゴリー</td>
            <td><%= categorys[contents[0].category_id].category_name %></td>
        </tr>
        <tr>
            <td>進捗</td>
            <td><%= progresses[contents[0].progress] %></td>
        </tr>
        <tr>
            <td>
                <form action="/deleteConfirm" method="post">
                    <input type="hidden" name="id" value=<%= contents[0].id %>>
                    <input type="submit" value="削除する">
                </form>
            </td>
        </tr>
    </table>
</body>
</html>