<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <% let progresses = ['','未定','作業予定','作業中','作業終了'] %>
</head>
<body>
    <a href="/list"><p>戻る</p></a>
    <h1>作業タスクを編集する</h1>
    <form action="/post" method="post">
        <input type="date" name="date" value="<%= contents[0].date.getFullYear() %>-<%= (contents[0].date.getMonth()<10)? '0'+contents[0].date.getMonth() : contents[0].date.getMonth() %>-<%= (contents[0].date.getDate()<10)? '0'+contents[0].date.getDate() : contents[0].date.getDate() %>">
        <input type="text" name="place" value="<%= contents[0].place %>">
        <input type="file" name="photo" value="<%= contents[0].photo %>">
        <input type="text" name="work" value="<%= contents[0].work %>">
        <select name="category" id="category">
            <option value=0> - -  カテゴリー  - - </option>
        </select> 
        <select name="progress" id="progress">
            <option value=0> - -  進捗  - - </option>
        </select> 
        <input type="submit" value="投稿する">
    </form>
    <% for(let i in categorys){ %>
        <script>
            var newOption = document.createElement('option');
            newOption.innerHTML = "<%= categorys[i].category_name %>";
            newOption.setAttribute('value', <%= categorys[i].id %>);
            category.appendChild(newOption);
        </script>
    <% } %>
    <% for(let i = 1; i < progresses.length; i++){ %>
        <script>
            var newOption = document.createElement('option');
            newOption.setAttribute('value', <%=i%>);
            newOption.innerHTML = "<%=progresses[i]%>"
            progress.appendChild(newOption);
        </script>
    <% } %>
</body>
</html>